/* Custom scrollbar styling */
.scrollbar-thin-black::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin-black::-webkit-scrollbar-thumb {
  background-color: white; /* Black color */
  border-radius: 10px;
}

.scrollbar-thin-black::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin-black {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}